


    * {
        margin: auto;
        font-family: 'Montserrat', sans-serif;
    
      }

header{
    background-color: #ef057e;
  
}



.navigation{
    display: flex;
    padding-bottom:5px;
    padding-top:40px;
    padding-left: 10px;
     
}
.logo{
    width: 200px;
    margin-left: 100px;
}
.menu-itens{

    display:inline-block;
    margin-right: 100px;
   
}
  
 .menu-itens li{
    color: white;
    list-style: none;
    font-weight:bold;
    font-size:15px;
    display: inline-block;
    margin-left: 200px;
    margin: 20px;
    
  
      
  } 
  

.button-itens{
    border: solid white;
    border-radius: 10px;
    /* color: white;    */
    padding:3px;
    background-color: white;
    font-weight: 20px;
    margin-right: 200px;
    


} 
.button-itens .pt{
  font-weight: 100px;
  background-color: white;

}

.button-itens .ing{
    font-weight: 100px;
    background-color:white;
 
  
  }
  


.button-itens button{
    color:#ef057e;
    font-weight: bolder;
    border: none;
    background-color: white;
    
}

 p{

    font-size:50px;
    color: white;
    font-weight: bolder; 
    display:flex;
    margin-left: 200px;
    margin-top: 50px;

    
}
 .principal{
     margin-top: 120px;
     display: flex; 

 }
  
.imgBanner{
    width:590px;
    margin-right:270px;
    display: flex;
} 

   /* -------ACESSOBIO--------*/
 .solucoes{
    padding-top:80px;
    background-color:#f6f9fc;

 
  }


.solucoes h2{
    color: #9093a1;
    font-size: 35px;
    font-weight:900px;
    text-align: center;
 

}
.solucoes p{
   
    font-size: 18px;
    color: #9093A1;
    font-weight: normal;
    margin-bottom: 90px;
    /* margin-right: 200px; */


}

.solucoes .titulobio{
    color: #2980ff;
    font-size: 35px;
    font-weight: bold;
    margin-left:200px;
    margin-bottom: 50px;


}
.acessoBio{
    justify-content: space-between;
    display: flex;
    margin-right:200px;
    scroll-margin-top: 20px;

}
/* .acessoBio .p{ */
    /* font-size: 40px; */
    /* color: #9093A1; */
    /* padding: 200px; */
    /* margin-left: 10px; */
    /* word-spacing: 4px; */
    /* line-height: 35px; */
    /* padding-right: 20px; */
/* } */


.acessoBio .imgBio .imgAcessoBio{
    width:550px;
}

.acessoBio .fraseBio{
      padding-right:80px;
      line-height: 35px;
      letter-spacing: normal;
      word-spacing: 10px;
    
   
}
 .btnBio{
    margin-left: 200px;
    border:none;
    color: white;
    padding: 20px 40px;
    font-size: 15px;
    border-radius: 3px;
    font-weight: bold;
    background-color: #2980ff;
    display: flex;
    margin-bottom: 30px ;


  

       
}







 



